env
*.DS_Store
*.pyc
__pycache
./.Python__
env/bin                                                                                                                                                                                                     
env/include
env/lib
